* {
    margin-left: 20px;
    margin-right: 15px;
}

cite {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

fieldset {
    border: 0;
}

body {
    background-color: #B2BABB;
    font-family: 'Roboto', sans-serif;
}

div {
    font-size: 15px;
}

input, select, button {
    border-radius: 8px;
}

#textoTitulo {
    font-size: 20px;
}

#tituloCadastro {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
}

#textoCadastro {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

#nome {
    font-size: 18px;
}

#sobrenome {
    font-size: 18px;
}

#email {
    font-size: 18px;
}

#cracha {
    font-size: 18px;
}

#textoEmp {
    font-size: 18px;
}

.campo {
    margin-bottom: 1px;
}

.campo label {
    margin-bottom: 0.2em;
    color: black;
    display: block;
}

fieldset .campo .grupo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], input[type="number"], .campo select, .campo button{
    margin-left: 0.1em;
    padding: 0.3em;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus {
    background: #E5E8E8;
}

#enviar {
    font-size: 20px;
    background: #B2BABB;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 80%;
    left: 46.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.reset {
    font-size: 20px;
    background: #B2BABB;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 80%;
    left: 54%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.enviar:hover{
    background: grey;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.reset:hover{
    background: grey;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}